____________________________________________________________________________________________________________________________________________________________________________________________________________

### Insert the correct project ID number as string

In [1]:
#provide project number ID as string (PO number in string format)
project_id = 'gRNA_input_file'

____________________________________________________________________________________________________________________________________________________________________________________________________________

In [2]:
#import modules
from pybiomart import Server
from Bio.Seq import Seq
import primer3
import os
import pandas as pd
import numpy as np
import requests
import sys
pd.set_option('display.max_rows', None)
import warnings
warnings.filterwarnings('ignore')

In [3]:
#connect to Biomart Server
server = Server(host='http://www.ensembl.org')

# use #dataset.list_filters() to see available filters for list_filters method
#dataset.list_filters()

#generate dataset (homo sapiens)
dataset = (server.marts['ENSEMBL_MART_ENSEMBL']
                 .datasets['hsapiens_gene_ensembl'])

In [4]:
#read gene ID numbers from csv file - gene ID in form of ENSG00000141510
df_genes_id = pd.read_csv(project_id + '.csv')
df_genes_id.columns = df_genes_id.columns.str.upper()
df_genes_id["GRNA SEQUENCE_T"] = df_genes_id["GRNA SEQUENCE"].str.replace("U","T")
df_genes_id.head(10)

           GENE ID         GRNA SEQUENCE       GRNA SEQUENCE_T
0  ENSG00000010404  CUUAUCCCCAUAACAGCCCA  CTTATCCCCATAACAGCCCA
1  ENSG00000150676  AAAUCUGUUCUUCUUUUAAG  AAATCTGTTCTTCTTTTAAG
2  ENSG00000099308  CCCGGGAGGAUGAGCUUGAC  CCCGGGAGGATGAGCTTGAC
3  ENSG00000099308  ACCAGUCAAGCUCAUCCUCC  ACCAGTCAAGCTCATCCTCC
4  ENSG00000099308  CCAGUCAAGCUCAUCCUCCC  CCAGTCAAGCTCATCCTCCC
5  ENSG00000099308  CUGGUGGAGACGUUCCCGGG  CTGGTGGAGACGTTCCCGGG
6  ENSG00000142676  UCCCUGUUGCAGCAGGAUCA  TCCCTGTTGCAGCAGGATCA
7  ENSG00000142676  GCAGCAGGAUCAAGGUGAAA  GCAGCAGGATCAAGGTGAAA
8  ENSG00000142676  GGAUGCGAAGUUCCCGCAUG  GGATGCGAAGTTCCCGCATG
9  ENSG00000142676  CGGAUGCGAAGUUCCCGCAU  CGGATGCGAAGTTCCCGCAT

In [5]:
gene_names = []
for entry in range(len(df_genes_id)):
    data_gene = dataset.query(attributes=['external_gene_name'],
                      filters={'link_ensembl_gene_id': df_genes_id["GENE ID"].iloc[entry]})
    gene_names.append(data_gene)

df_genes_id["GENE NAME"] = gene_names

In [6]:
#REST API python3 Ensembl
server = "https://rest.ensembl.org"
#initiate dict to store gene sequences for all genes in gRNA_predicted
gene_sequences = {}

# get unique gene IDs from gRNA_predicted
unique_gene_IDs = df_genes_id['GENE ID'].unique()

for entry in unique_gene_IDs:
    ext = "/sequence/id/" + entry +"?"
    # retrieve plain text gene sequence
    r = requests.get(server+ext, headers={ "Content-Type" : "text/plain"})
    # sanity check object r
    if not r.ok:
        r.raise_for_status()
        sys.exit()
    gene_sequences[entry] = r.text 
#pd.DataFrame.from_dict(gene_sequences, orient='index')

In [7]:
#sanity check for orientation and existence of gRNA_sequence_T in gene sequences 
for_rev_orientation_gRNA = []

#using .find to match gRNA sequence_T to gene sequence - if not found output will be -1.
for row in range(len(df_genes_id)):
        #get key from gRNA_predicted to retrieve value from gene_sequences dict
        key = df_genes_id["GENE ID"].iloc[row]
        value = gene_sequences[key]
        orientation = value.find(df_genes_id["GRNA SEQUENCE_T"].iloc[row])
        for_rev_orientation_gRNA.append(orientation)
print(for_rev_orientation_gRNA)

[-1, -1, -1, 25434, 25435, -1, 855, 863, -1, -1, -1, 38207, -1, -1, -1, 21547, 21605, 21616, -1, 12150, 12153, 12167, 2107, 2113, -1, 2121, -1, 1245, 1273, 1274, 884, -1, -1, 908, -1, 994, -1, 1010, -1, 66046, -1, 66102, 971, -1, -1, -1, 491, -1, -1, 524]

In [8]:
df_genes_id['gRNA reverse (-1 = True)'] = for_rev_orientation_gRNA
df_genes_id["gRNA_sequence_T_forward_rel_to_gene"] = df_genes_id["GRNA SEQUENCE_T"]

In [9]:
#In case of output -1 in for_rev_orientation_gRNA use reverse complement gRNA to search for match
for entry in range(len(df_genes_id)):
    if df_genes_id.iat[entry, 4] == -1:
        df_genes_id["gRNA_sequence_T_forward_rel_to_gene"].iloc[entry] = Seq(df_genes_id["GRNA SEQUENCE_T"].iloc[entry]).reverse_complement()
        df_genes_id["gRNA_sequence_T_forward_rel_to_gene"].iloc[entry] = str(df_genes_id["gRNA_sequence_T_forward_rel_to_gene"].iloc[entry])

In [10]:
#sanity check for orientation and existence of gRNA_sequence_T in gene sequences 
for_orientation_gRNA = []

#using .find to match gRNA sequence_T to gene sequence - if not found output will be -1.
#In case of output -1 use reverse complement gRNA to search for match
for row in range(len(df_genes_id)):
        #get key from gRNA_predicted to retrieve value from gene_sequences dict
        key = df_genes_id["GENE ID"].iloc[row]
        value = gene_sequences[key]
        orientation = value.find(df_genes_id["gRNA_sequence_T_forward_rel_to_gene"].iloc[row])
        for_orientation_gRNA.append(orientation)
print(for_orientation_gRNA)

[16851, 27420, 25438, 25434, 25435, 25452, 855, 863, 893, 894, 38215, 38207, 38225, 38237, 21536, 21547, 21605, 21616, 12164, 12150, 12153, 12167, 2107, 2113, 2135, 2121, 1252, 1245, 1273, 1274, 884, 898, 905, 908, 1002, 994, 1012, 1010, 66060, 66046, 66081, 66102, 971, 1003, 1018, 1019, 491, 526, 532, 524]

In [11]:
df_genes_id["Forward position gRNA"] = for_orientation_gRNA

In [12]:
#Extract gRNA flanking sequences ~250 nt for primer design
#dict to hold sequences
sequences_for_primer_design = []

for row in range(len(df_genes_id)):
    beginning = df_genes_id['Forward position gRNA'].iloc[row] - 250
    end = df_genes_id['Forward position gRNA'].iloc[row] + 250
    key = df_genes_id["GENE ID"].iloc[row]
    value = gene_sequences[key]
    seq_slice = value[beginning:end]
    sequences_for_primer_design.append(seq_slice)
#sanity check dict
#sequences_for_primer_design

In [13]:
df_genes_id['Seq for primer design'] = sequences_for_primer_design
df_genes_id.head(10)

,GENE ID,GRNA SEQUENCE,GRNA SEQUENCE_T,GENE NAME,gRNA reverse (-1 = True),gRNA_sequence_T_forward_rel_to_gene,Forward position gRNA,Seq for primer design
0,ENSG00000010404,CUUAUCCCCAUAACAGCCCA,CTTATCCCCATAACAGCCCA,Gene name 0 IDS,-1,TGGGCTGTTATGGGGATAAG,16851,CCAAAGCCTAACCCTGCCACCCAGGACTCAGGCTTCCTCCTCGAGC...
1,ENSG00000150676,AAAUCUGUUCUUCUUUUAAG,AAATCTGTTCTTCTTTTAAG,Gene name 0 CCDC83,-1,CTTAAAAGAAGAACAGATTT,27420,TTTAATAATGTCATAAGACTCTAGATCTTATTTGTAATCTTCTGTT...
2,ENSG00000099308,CCCGGGAGGAUGAGCUUGAC,CCCGGGAGGATGAGCTTGAC,Gene name 0 MAST3,-1,GTCAAGCTCATCCTCCCGGG,25438,TCCTCAGCCTATGGGGTCAGGGCCTGACCAGAGGGGGACTTGGGGC...
3,ENSG00000099308,ACCAGUCAAGCUCAUCCUCC,ACCAGTCAAGCTCATCCTCC,Gene name 0 MAST3,25434,ACCAGTCAAGCTCATCCTCC,25434,GATATCCTCAGCCTATGGGGTCAGGGCCTGACCAGAGGGGGACTTG...
4,ENSG00000099308,CCAGUCAAGCUCAUCCUCCC,CCAGTCAAGCTCATCCTCCC,Gene name 0 MAST3,25435,CCAGTCAAGCTCATCCTCCC,25435,ATATCCTCAGCCTATGGGGTCAGGGCCTGACCAGAGGGGGACTTGG...
5,ENSG00000099308,CUGGUGGAGACGUUCCCGGG,CTGGTGGAGACGTTCCCGGG,Gene name 0 MAST3,-1,CCCGGGAACGTCTCCACCAG,25452,GGTCAGGGCCTGACCAGAGGGGGACTTGGGGCTGCCCAGGGGTACA...
6,ENSG00000142676,UCCCUGUUGCAGCAGGAUCA,TCCCTGTTGCAGCAGGATCA,Gene name 0 RPL11,855,TCCCTGTTGCAGCAGGATCA,855,AGGGTTCGATCTCAGTGTCCGTATCTTTTAACACTCAATAACTGTC...
7,ENSG00000142676,GCAGCAGGAUCAAGGUGAAA,GCAGCAGGATCAAGGTGAAA,Gene name 0 RPL11,863,GCAGCAGGATCAAGGTGAAA,863,ATCTCAGTGTCCGTATCTTTTAACACTCAATAACTGTCCTGAGTTT...
8,ENSG00000142676,GGAUGCGAAGUUCCCGCAUG,GGATGCGAAGTTCCCGCATG,Gene name 0 RPL11,-1,CATGCGGGAACTTCGCATCC,893,TAACTGTCCTGAGTTTTCTCTTCACCCGTTCCGTTCGTGGAGGAAG...
9,ENSG00000142676,CGGAUGCGAAGUUCCCGCAU,CGGATGCGAAGTTCCCGCAT,Gene name 0 RPL11,-1,ATGCGGGAACTTCGCATCCG,894,AACTGTCCTGAGTTTTCTCTTCACCCGTTCCGTTCGTGGAGGAAGG...

In [14]:
primer_designed = {}
for entry in range(len(df_genes_id)):
    seq_dict = {
        'SEQUENCE_ID': project_id,
        'SEQUENCE_TEMPLATE': df_genes_id['Seq for primer design'].iloc[entry],
    }
    primer_designed[df_genes_id['GRNA SEQUENCE_T'].iloc[entry]] = primer3.designPrimers(seq_dict,    
        {
            'PRIMER_OPT_SIZE': 20,
            'PRIMER_PICK_INTERNAL_OLIGO': 1,
            'PRIMER_INTERNAL_MAX_SELF_END': 8,
            'PRIMER_MIN_SIZE': 18,
            'PRIMER_MAX_SIZE': 25,
            'PRIMER_OPT_TM': 60.0,
            'PRIMER_MIN_TM': 57.0,
            'PRIMER_MAX_TM': 63.0,
            'PRIMER_MIN_GC': 20.0,
            'PRIMER_MAX_GC': 80.0,
            'PRIMER_MAX_POLY_X': 100,
            'PRIMER_INTERNAL_MAX_POLY_X': 100,
            'PRIMER_SALT_MONOVALENT': 50.0,
            'PRIMER_DNA_CONC': 50.0,
            'PRIMER_MAX_NS_ACCEPTED': 0,
            'PRIMER_MAX_SELF_ANY': 12,
            'PRIMER_MAX_SELF_END': 8,
            'PRIMER_PAIR_MAX_COMPL_ANY': 12,
            'PRIMER_PAIR_MAX_COMPL_END': 8,
            'PRIMER_PRODUCT_SIZE_RANGE': [[375, 500]],
        })

In [15]:
primer_df = pd.DataFrame.from_dict(primer_designed, orient='index')
primer_df = primer_df[["PRIMER_LEFT_0_SEQUENCE", "PRIMER_RIGHT_0_SEQUENCE", "PRIMER_PAIR_0_PRODUCT_SIZE", "PRIMER_LEFT_0", "PRIMER_RIGHT_0", "PRIMER_INTERNAL_0", "PRIMER_LEFT_0_TM", "PRIMER_RIGHT_0_TM"]]
primer_df["GRNA SEQUENCE_T"] = primer_df.index
primer_df.head(10)

,PRIMER_LEFT_0_SEQUENCE,PRIMER_RIGHT_0_SEQUENCE,PRIMER_PAIR_0_PRODUCT_SIZE,PRIMER_LEFT_0,PRIMER_RIGHT_0,PRIMER_INTERNAL_0,PRIMER_LEFT_0_TM,PRIMER_RIGHT_0_TM,GRNA SEQUENCE_T
CTTATCCCCATAACAGCCCA,AGGACTCAGGCTTCCTCCTC,AGATGTCCCGCACAATCTGT,424,"(22, 20)","(445, 20)","(74, 20)",60.325203,59.384669,CTTATCCCCATAACAGCCCA
AAATCTGTTCTTCTTTTAAG,AAGTCCAGGCTTCCCACTTG,ACAGCATTTTGAACATATTGGAAGA,381,"(119, 20)","(499, 25)","(143, 22)",59.888747,57.769151,AAATCTGTTCTTCTTTTAAG
CCCGGGAGGATGAGCTTGAC,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(112, 20)","(486, 20)","(194, 20)",60.105504,59.601682,CCCGGGAGGATGAGCTTGAC
ACCAGTCAAGCTCATCCTCC,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(116, 20)","(490, 20)","(198, 20)",60.105504,59.601682,ACCAGTCAAGCTCATCCTCC
CCAGTCAAGCTCATCCTCCC,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(115, 20)","(489, 20)","(197, 20)",60.105504,59.601682,CCAGTCAAGCTCATCCTCCC
CTGGTGGAGACGTTCCCGGG,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(98, 20)","(472, 20)","(180, 20)",60.105504,59.601682,CTGGTGGAGACGTTCCCGGG
TCCCTGTTGCAGCAGGATCA,GGGTTCGATCTCAGTGTCCG,AGAAACAACCAAGCGACCCA,468,"(1, 20)","(468, 20)","(353, 20)",60.179134,60.106918,TCCCTGTTGCAGCAGGATCA
GCAGCAGGATCAAGGTGAAA,TCCGAGCTGTCTTCTTCCCT,AGAAACAACCAAGCGACCCA,378,"(83, 20)","(460, 20)","(345, 20)",60.251832,60.106918,GCAGCAGGATCAAGGTGAAA
GGATGCGAAGTTCCCGCATG,TCCGAGCTGTCTTCTTCCCT,AGAAACAACCAAGCGACCCA,378,"(53, 20)","(430, 20)","(315, 20)",60.251832,60.106918,GGATGCGAAGTTCCCGCATG
CGGATGCGAAGTTCCCGCAT,TCCGAGCTGTCTTCTTCCCT,AGAAACAACCAAGCGACCCA,378,"(52, 20)","(429, 20)","(314, 20)",60.251832,60.106918,CGGATGCGAAGTTCCCGCAT

In [16]:
gRNA_primer_df = pd.merge(df_genes_id, primer_df, on='GRNA SEQUENCE_T', how='outer')

In [17]:
gRNA_primer_df = gRNA_primer_df.drop(columns=["gRNA reverse (-1 = True)"])
gRNA_primer_df_wo_seq = gRNA_primer_df.drop(columns=["Seq for primer design"])
gRNA_primer_df_wo_seq.to_csv(project_id + 'primer_design.csv')
gRNA_primer_df_wo_seq.head(10)

,GENE ID,GRNA SEQUENCE,GRNA SEQUENCE_T,GENE NAME,gRNA_sequence_T_forward_rel_to_gene,Forward position gRNA,PRIMER_LEFT_0_SEQUENCE,PRIMER_RIGHT_0_SEQUENCE,PRIMER_PAIR_0_PRODUCT_SIZE,PRIMER_LEFT_0,PRIMER_RIGHT_0,PRIMER_INTERNAL_0,PRIMER_LEFT_0_TM,PRIMER_RIGHT_0_TM
0,ENSG00000010404,CUUAUCCCCAUAACAGCCCA,CTTATCCCCATAACAGCCCA,Gene name 0 IDS,TGGGCTGTTATGGGGATAAG,16851,AGGACTCAGGCTTCCTCCTC,AGATGTCCCGCACAATCTGT,424,"(22, 20)","(445, 20)","(74, 20)",60.325203,59.384669
1,ENSG00000150676,AAAUCUGUUCUUCUUUUAAG,AAATCTGTTCTTCTTTTAAG,Gene name 0 CCDC83,CTTAAAAGAAGAACAGATTT,27420,AAGTCCAGGCTTCCCACTTG,ACAGCATTTTGAACATATTGGAAGA,381,"(119, 20)","(499, 25)","(143, 22)",59.888747,57.769151
2,ENSG00000099308,CCCGGGAGGAUGAGCUUGAC,CCCGGGAGGATGAGCTTGAC,Gene name 0 MAST3,GTCAAGCTCATCCTCCCGGG,25438,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(112, 20)","(486, 20)","(194, 20)",60.105504,59.601682
3,ENSG00000099308,ACCAGUCAAGCUCAUCCUCC,ACCAGTCAAGCTCATCCTCC,Gene name 0 MAST3,ACCAGTCAAGCTCATCCTCC,25434,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(116, 20)","(490, 20)","(198, 20)",60.105504,59.601682
4,ENSG00000099308,CCAGUCAAGCUCAUCCUCCC,CCAGTCAAGCTCATCCTCCC,Gene name 0 MAST3,CCAGTCAAGCTCATCCTCCC,25435,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(115, 20)","(489, 20)","(197, 20)",60.105504,59.601682
5,ENSG00000099308,CUGGUGGAGACGUUCCCGGG,CTGGTGGAGACGTTCCCGGG,Gene name 0 MAST3,CCCGGGAACGTCTCCACCAG,25452,TGCATAGGAGCTAGGCAGGA,GTGAAGGAGGAGCCACAACT,375,"(98, 20)","(472, 20)","(180, 20)",60.105504,59.601682
6,ENSG00000142676,UCCCUGUUGCAGCAGGAUCA,TCCCTGTTGCAGCAGGATCA,Gene name 0 RPL11,TCCCTGTTGCAGCAGGATCA,855,GGGTTCGATCTCAGTGTCCG,AGAAACAACCAAGCGACCCA,468,"(1, 20)","(468, 20)","(353, 20)",60.179134,60.106918
7,ENSG00000142676,GCAGCAGGAUCAAGGUGAAA,GCAGCAGGATCAAGGTGAAA,Gene name 0 RPL11,GCAGCAGGATCAAGGTGAAA,863,TCCGAGCTGTCTTCTTCCCT,AGAAACAACCAAGCGACCCA,378,"(83, 20)","(460, 20)","(345, 20)",60.251832,60.106918
8,ENSG00000142676,GGAUGCGAAGUUCCCGCAUG,GGATGCGAAGTTCCCGCATG,Gene name 0 RPL11,CATGCGGGAACTTCGCATCC,893,TCCGAGCTGTCTTCTTCCCT,AGAAACAACCAAGCGACCCA,378,"(53, 20)","(430, 20)","(315, 20)",60.251832,60.106918
9,ENSG00000142676,CGGAUGCGAAGUUCCCGCAU,CGGATGCGAAGTTCCCGCAT,Gene name 0 RPL11,ATGCGGGAACTTCGCATCCG,894,TCCGAGCTGTCTTCTTCCCT,AGAAACAACCAAGCGACCCA,378,"(52, 20)","(429, 20)","(314, 20)",60.251832,60.106918